@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    font: 1.5rem san-serif;
    display: flex;
    flex-direction: column;
    background-color: grey;
    background-image: radial-gradient(white, grey);
}

header, footer {
    position: sticky;
    background-color: blue;
    text-align: center;
    color: white;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: white;
    border-bottom: 2px solid black;
}

nav a, 
nav a:visited {
    color: black;
}

nav a:hover, nav a:focus {
    color: hsla(0, 0%, 20%, 0.226);
}



.nowrap {
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}

.card {
   scroll-margin-top: 8rem;
   width: min(100%, 350px);
   background-color: white;
   border: 2px solid black;
   border-radius: 15px;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card img {
    border: 5px double black;
    border-radius: 50%;
}

.card img:not([alt])     {
    border-color: red;
}

.card figure {
    display: flex;
    flex-flow: column nowrap;  
    /* align-items: center; */
}   

.card figcaption {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 1rem;
}



.card p::after{
    content: close-quote;
    font-size: 1.3rem;
}
.card figcaption::after {

    content: ' S';
    display: block;
}

.nowrap {
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

/* //SMALLER */
@media screen and (min-width: 576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .card {
        width: min(100%, 400px);
    }

    .card:last-child {
        order: -1;
    }
    
}

/* //MEDIUM */
@media screen and (min-width: 768px) {
    nav {
        display: none;
    }

    .card {
        width: min(100%, 325px);
    }

    .card figure {
        flex-flow: column-reverse;
    }

    .card figcaption {
        margin: 0.1rem 0;
    }

   

/* //LARGE */
@media screen and (min-width: 992px) {
  .card {
    width: min(100%, 400px);
  }  
  .card:nth-child(2) {
    order: -2;
  }
}
